.container{
	width: 900px;
	margin: auto;
	background-color: #f0efef;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #f0efef;
	margin-right: 150px;
    margin-left: 150px;
}

#logo{
	font-size: 24px;
	font-weight: 800;
	color: white;
	text-align: left;
	padding-left: 20px;
}

header{
	background-image: url('../images/header_bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
    width: 900px;
}

.container h2{
	font: 24px 400;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.container nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.button_one{
	color: #033048;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 10px 10px 10px;
	background-color: #f9e42e;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 30px;
	text-decoration: none;
	text-align: center;
	height: 20px;
	width: 120px;
}

.main_container{
	width: 900px;
	height: 200px;
	padding-left: 100px;
	padding-right: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.main_container h1{
	font: 20px 600;
	color: #033048;
}

.main_container p{
	font-size: 13px; 
	font-weight: 300;
	color: #606161;
}

.main_container ul{
	font-size: 13px; 
	font-weight: 300;	
	color: #606161;

}

.quote {
	background-image: url("../images/testimonial_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    width: 900px;
}

.quote p{
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	color: white;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 100px;
	padding-right: 100px;
}

.quote span{
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
}

footer{
	background-color: #121212;
}

#footer_logo{
	text-align: center;
	color: #f9e42e;
	font-size: 24px;
	font-weight: 800;
}

footer h1{
	color: #f9e42e;
	padding-top: 30px;
}

.sign_up nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.sign_up{
	background-color: #f9e42e;
	width: 900px;
	height: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.button_two{
	background: #033048;
	color: white;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	height: 20px;
	width: 120px;
}

.social_media{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#twitter{
	padding: 30px
}

#facebook{
	padding: 30px;
}

footer h3{
	font-size: 9px;
	font-weight: 300;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;

}
